/*overall style*/
html {
    font-family: 'Inter';
    color: #1B1B1B;
    background-color: #FEFEFE;
}

*{
    margin: 0;
 }

/* unvisited link */
a:link {
    color: #FF5E00;
    text-decoration: none;
    font-weight: 400;
}

/* visited link */
a:visited {
    color: #FF5E00;
}

/* mouse over link */
a:hover {
    color: #566382;
    transition: 0.2s;
/*    animation: shake 0.5s;*/
/*    text-shadow: 3px 3px 3px #A0ABC5;*/
/*    text-decoration: underline;*/
/*    text-underline-position: under;*/
}

/* selected link */
a:active {
    color: #777777;
}

button.click-to-copy {
    background: none;
    border: none;
    letter-spacing: -0.2px;
    transition: all .2s ease-in-out;
    font-family: 'Inter';
    font-weight: 400;
    color: #FF5E00;
}

path {
  fill: transparent;
}

text {
  fill: #FF9800;
}

h1 {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Inter";
}

h2 {
    font-size: 1.75rem;
    font-family: "Georgia";
    font-weight: 400;
    line-height: 2.5rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    font-family: "Inter";
}

h4 {
    font-size: 1.5rem;
    font-family: "Inter";
    font-weight: 300;
}

h5 {
    font-size: 1rem;
    font-family: "Inter";
    font-weight:400;
    text-transform: uppercase;
}

h6 {
    font-size: 1rem;
    line-height: 1.2rem;
    font-family: "Inter";
    font-weight: 300;
    color: #474747;
    font-style: italic;
}

p {
    font-size: 1rem;
    font-family: "Inter";
    font-weight: 300;
    line-height: 1.75rem;
}

/*
a.onmain {
    padding: 0;
    font-size: 1rem;
    font-family: "Inter";
    color: #FF5E00;
    background-color: #fff;
    border: none;
    border-color: #FF5E00;
    border-radius: 4px;
    cursor: pointer;
}
*/

a.onmain span {
    display: none;
}

a.onmain:hover span {
    display: contents;
    transition: all 600ms ease-in-out;
    color: #566382;
}

/*
button.onmain:hover {
    font-style: italic;
    color: #566382;
    border-color: #4285F4;
    transition: all 600ms ease-in-out;
}
*/



button.click-to-copy {
    padding: 0;
    font-size: 1rem;
    font-family: "Inter";
    font-weight: 400;
    line-height: 1.75rem;
    padding-left: 0;
    cursor: pointer;
}

button.go {
    background: none;
    color: #FF5E00;
	border: none;
	padding: 0;
	outline: inherit;
/*    padding: -4rem -4rem;*/
}

button.click-to-copy:hover span {
    display: none;
}

button.click-to-copy:hover:before {
    content: "amydlin@gmail.com";
}

button.click-to-copy + span { 
    display: none;
    font-size: 1rem;
    font-family: "Inter";
    font-weight: 300;
    line-height: 1.75rem;
}

/* When the click event is fired, and the .is-copied class is added to the button, show the tooltip */
button.click-to-copy.is-copied + span {
  display: initial;
}

li {
    font-size: 1.05rem;
    font-family: "Inter";
    font-weight: 300;
    line-height: 1.75rem;
    list-style-type: disc;
}

ul {
/*    margin-top: -3rem;*/
    padding-bottom: 4rem;
}

ol {
    margin-top: -3rem;
    padding-bottom: 4rem;
}

bold {
    font-weight: 700;
}

/*style for nav*/

.projects div img {
    float: left;
    width: 5%;
    padding-left: 450px;
/*    transform: translate(50%, 50%);*/
}


html {
    height: 100%;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;

  background-color: #FF5E00;
  opacity: 1;
  background-image:  repeating-linear-gradient(45deg, #FF5E00 25%, transparent 25%, transparent 75%, #FF5E00 75%, #FF5E00), repeating-linear-gradient(45deg, #FF5E00 25%, #FFFFFF 25%, #FFFFFF 75%, #FF5E00 75%, #FF5E00);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;

}

body {
    padding-left: 12%;
    padding-right: 12%;
    width: 76%;
    background: #fff;
    min-height: 100%;
}

body nav {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.nav {
    display: inline-block;
    width: 100%;
}

.logo {
    float: left;
}

.pages {
    float: right;
}

.pages h1 {
    float: left;
    font-weight: 300;
}


/*style for main page*/

.about {
    width: 45%;
    height: auto;
    float: left;
}

.about h2 {
    padding-bottom: 3rem;
}

.about .meat p {
    padding-bottom: 1rem;
}

.bigger {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.mephoto {
    float: left;
    width: 55%;
    height: auto;
    overflow: hidden;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-0%, -50%);
}

.mephoto img {
/*    display: block;*/
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    margin: auto;
}


/*
.vidblock {
    padding-bottom: 4rem;
    display: inline-block;
    position: relative;
}

.vidblock .vidtext {
    padding-left: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -50%);
    height: auto;
}
*/








.about 

.about .meat {
    padding-bottom: 2rem;
}

.desc {
    padding-bottom: 4rem;
/*    padding-right: 15%;*/
}

.desc h2 {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.desc .toppic {
    margin-bottom: -4rem;
}

body div.projects div {
    padding-bottom: 4rem;
}

body div.projects div p {
    width: 600px;
    padding-top: 0.2rem;
    padding-bottom: 2rem;
}

.stellic h3 {
    color: #a7a7a7;
    pointer-events: none;
    font-weight: 400;
}

/*
body div#projects {
    
}

body div#projects a img {
    width: 45%;
    padding: 1rem 1rem;  
    display: block;
    padding: 0 0;
    float: left;
}
*/

.preheader {
/*    color: #777;*/
/*    font-style: italic;*/
    font-size: 0.8rem;
    padding-bottom: 0.25rem;
}

body div.projects div h3 {
    font-size: 1.5rem;
}

body div.projects div p {
    padding-bottom: 1rem;
}

/*style for niche page*/

.sidebar {
    width: 20%;
    float: left;
    margin: 0;
    padding-right: 0%;
}
.sidebar p.label {
    color: #aaa;
    font-weight: 400;
}

.sidebar p.stuff {
    padding-bottom: 1rem;
    font-weight: 400;
/*    padding-top: 0.5rem;*/
}

.top {
    float: left;
}

.top .right {
    padding-bottom: 4rem;
    width: 59%;
    float: right;
    padding-right: 21%;
}

.main {
    padding-left: 20%;
    width: 59%;
    margin: 0;
    overflow: auto;
}

.main h2 {
    padding-bottom: 2rem;
}

.main p {
    padding-bottom: 4rem;
}

.main .image {
    padding-bottom: 4rem;
}

.main h5 {
    padding-bottom: 1.25rem;
}

.main h6 {
    padding-bottom: 4rem;
}

img.wide {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4rem;
    width: 80%;
}

img.widest {
    padding-bottom: 4rem;
    width: 100%;
}


img.narrow {
    padding-bottom: 4rem;
    width: 100%;
}

.narrow {
    padding-bottom: 2rem;
    
}

img.closeup {
    width: 20%;
    float: left;
    align-content: center;
}

p.closeup {
    width: 20%;
    float: left;
    padding-left: 10%;
    padding-right: 10%;
}

.vid {
    width: 45%;
    height: 100%;
}

.vid2 {
    width: 45%;
    height: 100%;
/*    float: left;*/
/*    padding-bottom: 2rem;*/
}


.vidblock {
    padding-bottom: 4rem;
/*    display: inline-block;*/
    position: relative;
}

.vidblock .vidtext {
    padding-left: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -50%);
    height: auto;
}

.vidtext p {
    padding-bottom: 0;
}

.blurb {
    padding-top: 1rem;
}


video {
    width: 100%;
}


@media only screen and (max-width: 768px) {
    
    body {
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }
    
    body nav {
        padding-bottom: 0;
    }
    
    .about {
        width: 100%;
    }
    
    .desc {
        padding-right: 0;
    }
    
    .desc h2 {
        font-size: 1.75rem;
    }
    
    .desc h3 {
        font-size: 1rem;
        line-height: 1.75rem;
    }
    
    .vidblock {
        position: static;
    }
    
    .vid {
        width: 100%;

    }
    
    .vidblock .vidtext {
        width: 100%;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0, 0);
        padding-top: 2rem;
        padding-left: 0;
    }
    
    
    .bigger {
        position: static;
    }
    
    .mephoto {
        width: 100%;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0, 0);
    }
    
/*
    .mephoto img {
        width: 100%;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0, 0);
    }
*/
    
    .sidebar {
        width: 100%;
    }
    
    .top {
        width: 100%;
    }
    
    .top .right {
        width: 100%;
        padding-right: 0;
    }
    
    .main {
        padding-left: 0;
        width: 100%;
    }
    
    img.wide {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    
    .vidblock {
        position: static;
    }
    
    .vid {
        width: 100%;

    }
    
    .vidblock .vidtext {
        width: 100%;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0, 0);
        padding-top: 2rem;
        padding-left: 0;
    }
    
    
    body div.projects div p {
        width: 100%;
        padding-top: 0.25rem;
        padding-bottom: 0rem;
    }
    
}

@media only screen and (max-width: 1400px) and (min-width: 768px) {
    
    .top .right {
        width: 70%;
        float: right;
        padding-right: 5%;
        padding-left: 5%;
    }

    .main {
        padding-left: 25%;
        width: 70%;
        margin: 0;
        overflow: auto;
    }
    
    img.wide {
        padding-left: 10%;
        padding-right: 0;
        width: 90%;
    }
    
    

}