/*overall style*/
html {
    font-family: 'Archivo';
    color: #1B1B1B;
    background-color: #FDFDFD;
}

*{
    margin: 0;
 }

/* unvisited link */
a:link {
    color: #FF5E00;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #FF5E00;
}

/* mouse over link */
a:hover {
    color: #566382;
/*    animation: shake 0.5s;*/
/*    text-shadow: 3px 3px 3px #A0ABC5;*/
/*    text-decoration: underline;*/
/*    text-underline-position: under;*/
}

/* selected link */
a:active {
    color: #777777;
}

path {
  fill: transparent;
}

text {
  fill: #FF9800;
}

h1 {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Archivo";
}

h2 {
    font-size: 2rem;
    font-family: "Georgia";
    font-weight: 400;
    line-height: 2.5rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 300;
    font-family: "Archivo";
}

h4 {
    font-size: 1.5rem;
    font-family: "Archivo";
    font-weight: 300;
}

h5 {
    font-size: 1rem;
    font-family: "Archivo";
    font-weight:400;
    text-transform: uppercase;
}

h6 {
    font-size: 1rem;
    font-family: "Georgia";
    font-weight: 300;
    font-style: italic;
}

p {
    font-size: 1.05rem;
    font-family: "Archivo";
    font-weight: 300;
    line-height: 2.25rem;
/*    margin-top: 0;*/
}

li {
    font-size: 1.05rem;
    font-family: "Archivo";
    font-weight: 300;
    line-height: 1.75rem;
    list-style-type: disc;
}

ul {
/*    margin-top: -3rem;*/
    padding-bottom: 4rem;
}

ol {
    margin-top: -3rem;
    padding-bottom: 4rem;
}

bold {
    font-weight: 700;
}

/*style for nav*/

body {
    padding-left: 15%;
    padding-right: 15%;
}

body nav {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.nav {
    display: inline-block;
    width: 100%;
}

.logo {
    float: left;
}

.pages {
    float: right;
}

.pages h1 {
    float: left;
    font-weight: 300;
}


/*style for main page*/

.about {
    width: 45%;
}

.about h2 {
    padding-bottom: 3rem;
}

.about .meat p {
    padding-bottom: 1rem;
}

.about .meat {
    padding-bottom: 2rem;
}

.desc {
    padding-bottom: 4rem;
/*    padding-right: 15%;*/
}

.desc h2 {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.desc .toppic {
    margin-bottom: -4rem;
}

body div.projects div {
    padding-bottom: 4rem;
}

body div.projects div p {
    width: 450px;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

/*
body div#projects {
    
}

body div#projects a img {
    width: 45%;
    padding: 1rem 1rem;  
    display: block;
    padding: 0 0;
    float: left;
}
*/

/*style for niche page*/

.sidebar {
    width: 30%;
    float: left;
    margin: 0;
    padding-right: 5%;
}
.sidebar p.label {
    color: #aaa;
    font-weight: 400;
}

.sidebar p.stuff {
    padding-bottom: 1rem;
    font-weight: 400;
/*    padding-top: 0.5rem;*/
}

.top {
    float: left;
}

.top .right {
    padding-bottom: 4rem;
    width: 50%;
    float: right;
    padding-right: 15%;
}

.main {
    padding-left: 35%;
    width: 50%;
    margin: 0;
    overflow: auto;
}

.main h2 {
    padding-bottom: 2rem;
}

.main p {
    padding-bottom: 4rem;
}

.main .image {
    padding-bottom: 4rem;
}

.main h5 {
    padding-bottom: 1.25rem;
}

.main h6 {
    padding-bottom: 4rem;
}

img.wide {
    padding-left: 20%;
    padding-right: 10%;
    padding-bottom: 4rem;
    width: 70%;
}

img.narrow {
    padding-bottom: 4rem;
    width: 100%;
}

.narrow {
    padding-bottom: 2rem;
    
}

img.closeup {
    width: 20%;
    float: left;
    align-content: center;
}

p.closeup {
    width: 20%;
    float: left;
    padding-left: 10%;
    padding-right: 10%;
}

.vid {
    width:45%;
    height: 100%;
    float: left;
    padding-bottom: 0;
}

.vid2 {
    width:45%;
    height: 100%;
    float: left;
    padding-bottom: 0;
}

.vidtext {
    padding-left: 2rem;
    width: calc(55% - 2rem);
    float: left;
}

.vid h2 {
    font-size: 1.5rem;
    padding-bottom: 0;
}

.vid p {
    padding-bottom: 2rem;
}

.vid ul {
    margin-top: 0;
}

.vid li {
    font-size: 1rem;
    font-family: "Archivo";
    font-weight: 300;
    line-height: 1.75rem;
    list-style-type: disc;
}

.vidblock {
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;
}

.vidblock2 {
    
}

video {
    width: 100%;
}

.invisible {
    color: #eee;
}




@media only screen and (max-width: 768px) {
    
    body {
        padding-left: 5%;
        padding-right: 5%;
    }
    
    body nav {
        padding-bottom: 0;
    }
    
    .about {
        width: 100%;
    }
    
    .desc {
        padding-right: 0;
    }
    
    .desc h2 {
        font-size: 1.75rem;
    }
    
    .desc h3 {
        font-size: 1rem;
        line-height: 1.75rem;
    }
    
    .sidebar {
        width: 100%;
    }
    
    .top {
        width: 100%;
    }
    
    .top .right {
        width: 100%;
        padding-right: 0;
    }
    
    .main {
        padding-left: 0;
        width: 100%;
    }
    
    img.wide {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    
    .vid {
        width: 100%;
    }
    
    .vid2 {
        width: 100%;
    }
    
    .vidtext {
        width: 100%;
        padding-left: 0;
        padding-top: 2rem;
    }
    
    .invisible {
        display: none;
    }
    
    
    body div.projects div p {
        width: 100%;
        padding-top: 0.25rem;
        padding-bottom: 0rem;
    }
    
}

@media only screen and (max-width: 1400px) and (min-width: 768px) {
    
    .top .right {
        width: 60%;
        float: right;
        padding-right: 5%;
    }

    .main {
        padding-left: 35%;
        width: 60%;
        margin: 0;
        overflow: auto;
    }
    
    img.wide {
        padding-left: 10%;
        padding-right: 0;
        width: 90%;
    }
    
    

}